#ROOT_DIR -  This field ensure s3sync can't perform backup actions above a giving directory.
#SET to '/' (without quotes) for system wide backup privs

ROOT_DIR=/home/sad0p/s3Sync-testdir

#s3sync will need a location to store file state information to detect changes in order to initiate uploads.
#The variable 'DB_LOCATION' specifies the directory where this information will be stored.

DB_LOCATION=/home/sad0p/.s3sync
